.profile-navbar-col1 {
    width: 40%;
    margin-right: 10px;
    float: left;
    height: 100%;
}

.profile-navbar-col2 {
    width: 20%;
    margin-right: 10px;
    float: left;
    height: 100%;
}

.profile-navbar-col3 {
    width: 30%;
    float: right;
    height: 100%;
    position: relative;
}


